// main: ../../../../../../style.scss
.grid-container {
  width: unset;
  .grid-selector {
    @include flex(null, row, nowrap);
    background: #F9F9F9;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    width: calc(50% - 2rem);
    padding: 2rem 1rem;
    margin-bottom: 2.5rem;
    [class*="-half-L"] {
      flex: 1;
      text-align: center;
      margin-right: 1rem;
      [class*="-image"] {
        border-radius: 50%;
        object-fit: cover;
        width: 12.5rem;
        height: 12.5rem;
      }
    }

    [class*="-half-R"] {
      @include flex(null, column, nowrap);
      flex: 2;
      margin-left: 1rem;
      [class*="-name"] {
        margin-bottom: 0.5rem;
        [class*="-name-link"] {
          font-weight: 400;
          transition: color 0.25s ease-in;
        }
      }

      .contact-persons {
        .contact-person {
          margin-bottom: 2rem;
          .contact-name, .contact-email, .contact-phone {
            margin-bottom: 0.25rem;
          }

          .contact-email, .contact-phone {
            a {
              transition: color 0.25s ease-in;
            }
          }

          &>* {
            margin: 0 0 0.25em !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1399px) {
  .grid-container {
    .grid-selector {
      width: auto;
      &.has-plinko {
        &:nth-child(odd) {
          margin-right: 5%;
        }

        &:nth-child(even) {
          margin-left: 5%;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .grid-container {
    .grid-selector {
      flex-direction: column;
      [class*="-half-L"] {
        margin-right: 0;
      }

      [class*="-half-R"] {
        margin-left: 0;
      }
    }
  }
}
