// main: ../../../../../style.scss
.page-template-ministry-groups {
  .the-content {
    text-align: center;
    margin: 0 auto 3.75rem;
  }

  @import "../components/partials/color-boxes";

  .view-all {
    text-align: center;
  }
}
