// main: ../../../style.scss
// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Flex
@mixin flex($justify: null, $direction: row, $wrap: wrap) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	@if($justify == 'a'){
		justify-content: space-around;
	} @else if($justify == 'b'){
		justify-content: space-between;
	} @else if($justify == 'c'){
		justify-content: center;
	} @else if($justify == 'd'){
		justify-content: unset;
	} @else if($justify == 'e'){
		justify-content: space-evenly;
	} @else if($justify == 'fs'){
		justify-content: flex-start;
	} @else if($justify == 'fe'){
		justify-content: flex-end;
	}
}

// Placeholder
@mixin placeholder($color, $opacity: 1) {
	&::placeholder {
	  color: $color;
		text-transform: uppercase;
	  opacity: $opacity;
	}

	&::-webkit-input-placeholder {
   text-transform: uppercase;
	}

	&:-moz-placeholder, &::-moz-placeholder {
	   text-transform: uppercase;
	}

	&:-ms-input-placeholder, &::-ms-input-placeholder {
		color: $color;
		text-transform: uppercase;
	}
}
